.main_container{
    margin: 60px;
    justify-content: space-between;
    /* display: flex; */
}

/* -----------left-part------------ */

.left_container{
    width: 100%;
}
.login_heading{
    display: block;
    margin: 10px;
}
.login_heading > h3{
    margin-bottom: 40px;
    color: #414141;
    font-size: 20px;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
}

.login_heading > h3::after{
    content: '';
    width: 100%;
    height: 1px;
    bottom: -20px;
    background: #838383;
    left: 0;
    position: absolute;
}

.login_heading > p{
    font-size: 15px;
    color: #838383;
    
}

.left_list{
    
    margin-top: 20px;
}

.left_list > ul{
    margin-left: -10px; 
}

.left_list > ul > li{
    color: #838383;
    margin-bottom: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.left_btn{
    margin-top: 165px;
    margin-left: 10px;
}
#btn_txt{
    text-transform: none;
    font-size: 15px;
    color: white;
    width: 200px;
}

/* -------------right-part-------------- */

.email_input{
    /* height: 40px; */
    border-radius: 4px;
    margin-top: 10px;
}

.login_input_container{
    margin-bottom: 40px;
}

.login_right_btn{
    margin-top: 60px;
    width: 100px;
    height: 45px;
}

.login_right_btn > p {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: none;
    font-size: 15px;
}