.title_underline{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.title_underline > h1{
    align-items: center;
    position: relative;
    text-align: center;
    color: #414141;
}

.title_underline > h1::after{
    content: '';
    width: 40%;
    height: 2px;
    background: #f14d54;
    position: absolute;
    bottom: -25px;
    left: 28%;
}


.registration_form{
    margin: 60px;
    margin-bottom: 100px;
    /* position: relative ; */
}

.register_detail_container{
    width: 100%;
}

.personal_information{
    width: 100%;
}

.personal_information > h2{
    color: #414141;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
}

.personal_information > h2::after{
    content: '';
    width: 100%;
    height: 1px;
    background: #838383;
    position: absolute;
    bottom: -20px;
    left: 0;
}

.personal_information > p{
    width: 100%;
    color: #838383;
    padding-top: 20px;
}

.row{
    margin-bottom: 40px;
}

.column{
    display: flex;
    position: relative;
    justify-content: space-between;
}



.input_field{
    width: 530px;
    height: 40px;
}

/* .register_input_field{
    margin-bottom: 40px;
}
*/

.register_email_input_field{
    margin-bottom: 30px;
} 

/* 
.input_field_email{
    width: 1147px;
    height: 40px;
} */

/* ----------------Login Information--------- */

.login_information{
    margin-top: 70px;
}

.login_information > h2{
    color: #414141;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    margin-bottom: 40px;
}

.login_information > h2::after{
    content: '';
    width: 100%;
    height: 1px;
    background: #838383;
    position: absolute;
    bottom: -20px;
    left: 0;
}

/* -------------Register button ------------ */

.register_button_container{
    margin-top: 60px;
}

.register_button{
    width: 134px;
    height: 45px;
}

.register_button > p {
    text-transform: none;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;   
}


.form-error{
    color: red;
    font-size: 15px;
}